.heading {

	margin-left: 450px;
	margin-top: 50px;
}
.img{
	margin-left: 100px;
	margin-top: 90px;
}
.img1{
	margin-left: 100px;
	margin-top: 100px;
}
.h{
	margin-left: 250px;
	border: 1px solid black;
	padding-top: 10px;
	background-color: white;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 200px;
	text-align: center;
}
.h1{
	margin-left: 30px;
	border: 1px solid black;
	background-color: white;
	padding-top: 10px;
	padding-right: 140px;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 200px;
	text-align: center;
}
.m{
	text-align: center;

}
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:PaleGoldenRod ;
	color: marron ;
	text-align: center;
	padding:15px;
	margin-top: 80px;
	
}
.plus-btn{
	font-family: foodpanda;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
